@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinback {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes easeUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes easeUpSwap {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 1;
  }
}
.app {
  position: relative;
  min-height: 90vh;
}
.app .navbar {
  background: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin-top: 2rem;
  margin-inline: auto;
  padding: 0rem 1rem;
  gap: 1rem;
  border-radius: 10px;
  position: sticky;
  background: linear-gradient(135deg, #6d65fc, #daafff);
  animation: easeUp 0.5s ease forwards;
  transform: translateY(20px);
  z-index: 1;
}
.app .navbar .logo {
  max-width: 150px;
  width: 30%;
}
.app .gradient-swap-wrapper {
  width: 90%;
  max-width: 600px;
  margin-inline: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  padding: 2px;
  background: linear-gradient(135deg, #d846a5, #6dc7ec);
  border-radius: 20px;
  animation: easeUpSwap 0.5s ease forwards;
}
.app .gradient-swap-wrapper .swap {
  padding: 1rem 0;
  background: #141414;
  border-radius: 20px;
}
.app .gradient-swap-wrapper .swap button {
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  margin: 1rem auto;
  display: block;
  font-size: 1.25rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #6d65fc, #6dc7ec);
  cursor: pointer;
}
.app .gradient-swap-wrapper .swap button span {
  color: transparent;
  color: white;
  -webkit-background-clip: text;
          background-clip: text;
}
.app .gradient-swap-wrapper .swap button:hover {
  background: none;
  background-color: white;
  scale: 1.05;
}
.app .gradient-swap-wrapper .swap button:hover span {
  background: linear-gradient(to right, #6dc7ec, #6d65fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}
.app .gradient-swap-wrapper .swap button:active {
  scale: 1.05;
}
.app .gradient-swap-wrapper .swap .select > * {
  background: #314256;
  border: none;
  caret-color: transparent;
}
.app .gradient-swap-wrapper .swap .select-chain {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
}
.app .gradient-swap-wrapper .swap .swap-section {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.app .gradient-swap-wrapper .swap .swap-section .input-group {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  background-color: #1c2936;
  border-radius: 10px;
  max-width: 400px;
}
.app .gradient-swap-wrapper .swap .swap-section .input-group input[type=text] {
  background: transparent;
  color: white;
  text-align: end;
  border: none;
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  width: 50%;
  outline: none;
  font-family: sans-serif;
}
.app .gradient-swap-wrapper .swap .swap-section .swap-icon {
  max-width: 30px;
  height: auto;
  cursor: pointer;
  filter: invert(1);
  animation: spinback 0.2s linear;
}
.app .gradient-swap-wrapper .swap .swap-section .swap-icon-spin {
  animation: spin 0.2s linear;
}
.app .gradient-swap-wrapper .swap .swap-section .usd-value {
  color: rgba(255, 255, 255, 0.725);
  font-size: 1.25rem;
  font-weight: 500;
  text-align: end;
  font-family: sans-serif;
}

.select > div > div.css-1fdsijx-ValueContainer > div.css-1dimb5e-singleValue {
  color: white;
}

.css-1nmdiq5-menu {
  color: white;
}