
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

    
}


body{

  background-color: #060203;
  overflow: hidden;

  


}

.app-bg {

  
  background: radial-gradient(131.82% 109.9% at 50% 100%,transparent 37.41%,#63e 69.27%,#ffffffa5 100%);width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;



}